.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 60rem) {
    .photoPost {
        grid-template-columns: 1fr;
    }
}

.photoPost .file {
    margin-bottom: 2rem;
}

.preview {
    border-radius: 2rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%;
}
